<% include ../partials/header %>


<h1 style="text-align: center; margin: 4% auto; font-size: 50px">Edit <%= book.title %></h1>

<div class="ui main text container segment">
  <form class="ui form" action="/books/<%= book._id %>?_method=PUT" method="post">
    <div class="field">
      <label>Title</label>
      <input name="book[title]" value="<%= book.title %>" type="text">
    </div>
    <div class="field">
      <label>Author</label>
      <input name="book[author]" value="<%= book.author %>" type="text">
    </div>
    <div class="field">
      <label>Image URL</label>
      <input name="book[image]" value="<%= book.image %>" type="text">
    </div>
    <div class="field">
      <label>Summary</label>
      <textarea name="book[summary]"><%= book.summary %></textarea>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>


<% include ../partials/footer %>
