<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SwitchBooks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="ui inverted menu">
  <a class="item" href="/">SwitchBooks</a>

  <a class="item" href="/books/new">Add A Book</a>
  <% if(currentUser){ %>
    <a class="item" href="/users/<%= currentUser._id %>/sentDeals">Sent Deals</a>
    <a class="item" href="/users/<%= currentUser._id %>/receivedDeals">Received Deals</a>
  <% } %>

  <!-- <a class="item">Submit</a> -->
  <div class="right menu">
    <% if(!currentUser){ %>
      <a class="item" href="/register">Sign Up</a>
      <a class="item" href="/login">Login</a>
    <% } else { %>
      <a class="item" href="#">Signed is as <%= currentUser.username %></a>
      <a class="item" href="/logout">Logout</a>
    <% } %>

  </div>
</div>

<div class="ui container">
  <% if(success && success.length>0){ %>
    <div class="ui success message">
      <!-- <i class="close icon"></i> -->
      <div class="header">
        <%= success %>
      </div>
    </div>
  <% } %>
  <% if(negative && negative.length>0){ %>
    <div class="ui negative message">
      <!-- <i class="close icon"></i> -->
      <div class="header">
        <%= negative %>
      </div>
    </div>
  <% } %>
</div>
