<% include ../partials/header %>

<h1 style="text-align: center">Received Deals</h1>

<div class="ui center aligned main text container segment">
    <% if(user.dealsReceived.length == 0) { %>
      <h3>You haven't received any switch requests yet.</h3>
    <% } %>

    <% for(var i=0; i<user.dealsReceived.length; i++) { %>
      <div class="ui segment">
          <h3><a href="/users/<%= user.dealsReceived[i].receivedFromPerson.id %>"><%= user.dealsReceived[i].receivedFromPerson.username %></a> offered <a href="/books/<%= user.dealsReceived[i].offeredBook.id %>"><%= user.dealsReceived[i].offeredBook.title %></a> in exchange of <a href="/books/<%= user.dealsReceived[i].askedBook.id %>"><%= user.dealsReceived[i].askedBook.title %></a></h3>

      </div>
    <% } %>
    
</div>


