<% include ../partials/header %>

<h1>Sent Deals</h1>

<% for(var i=0; i<user.dealsSent.length; i++) { %>
  <h3>Offered <a href="/books/<%= user.dealsSent[i].offeredBook.id %>"><%= user.dealsSent[i].offeredBook.title %></a> in exchange of <a href="/books/<%= user.dealsSent[i].askedBook.id %>"><%= user.dealsSent[i].askedBook.title %></a> from <a href="/users/<%= user.dealsSent[i].sentToPerson.id %>"><%= user.dealsSent[i].sentToPerson.username %></a></h3>
  <% if(user.dealsSent[i].accept == "waiting") { %>
    <h5>Awaiting response...</h5>
  <% }else if(user.dealsSent[i].accept == "yes"){ %>
    <h5>ACCEPTED</h5>
  <% }else if(user.dealsSent[i].accept == "no") { %>
    <h5>DECLINED</h5>
  <% } %>
<% } %>
